.header-logo {
    float: left;
  }
.container {
    width: 100% !important;
  }

.tableHeading{
  color: white;
  font-size: 28px;
  font-style: bold;
  letter-spacing: .1em;
  padding: 6px;
  border-radius: 8px;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  margin-bottom: 12px;
}
.table{
  width: 100%;
  border: .4px solid white ;
}

.table thead{
  background-color: rgb(70, 177, 248);
  color: white;
}

.table thead th{
  width: 120px;
  border-radius: 8px;
  word-wrap: break-word;
}

.table tbody td{
  width: 120px;
  border-radius:8px;
  word-wrap: break-word;
}

.table tr{
  text-align: center;
  height: 35px;
}


.table tbody tr:nth-child(even) td{
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.table tbody tr:nth-child(odd) td{
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.table tbody tr:hover{
  background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
}