.header-logo {
    float: left;
  }
.container {
    width: 100% !important;
  }

  .table{
    width: 100%;
  }

.table thead{
  background-color: rgb(70, 177, 248);
  color: white;
}

.table tr{
  text-align: center;
  height: 35px;
}

.table tr:nth-child(even){
  background-color: rgb(212, 221, 226); 
}